.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gray-700);
  /* Para quem estiver corrigindo o desafio - O template no figma tinha 200px de height, menos 48px de altura da logo sobraria 152px (9.5rem), mas isso ficou muito grande na minha opinião, então decidi manter 5rem. */
  padding: 5rem 0;
}

.header img {
  height: 3rem;
}

.header a {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--gray-300);
  transition: color 0.3s;
  box-shadow: none;
}

.header a:hover {
  color: var(--blue);
}